body{
    background-color: #1A120B!important;
}

h1,h2,h3,h4,h5,h6, p{
    color: #E5E5CB;
    font-family: 'Quicksand', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 700!important;
}
p{font-weight: 300;}
a span{
    color: #D5CEA3;
    text-decoration: underline;
    text-decoration-color: #D5CEA3;
}
.btn-primary{
    background-color: #D5CEA3!important;
    border-color: #D5CEA3!important;
    color: #3C2A21!important;
}