* {
    box-sizing: border-box;
    font-size: 16px;
}
html, body{
    margin: 0;
    padding: 0;
}
html{
    height: 100vh;
}
body{
    height: 100%;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.display-1, .display-2, .display-3,
.display-4, .display-5, .display-6{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-weight: 600;
}
h5{
    margin: 0;
}
h1 b{
    font-size: inherit;
}
nav{
    font-family: 'Montserrat', sans-serif;
}
nav ul li a{
    font-weight: 600;
    text-transform: uppercase;
}
.wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .social-link{
    color:inherit;
  }
  .social-link:hover{
    color:#acacac;
  }
