:root{
    --main-bg-color:#F4F4F2;
    --p-font:'Merriweather', serif;
    --h-font:'Montserrat', sans-serif;
    --secondary-color: #495464;
    --terceary-color: #E8E8E8;
    --font-weight-medium:500;
    --font-weight-bold:700;
}
* {
    box-sizing: border-box;
    font-size: 16px;
}
/*Body's and html styles*/
html, body{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
}
body{
    background-color: var(--terceary-color)!important;
}

/*
    Classes Variables
*/
.bg--primary{
    background-color: var(--main-bg-color);
}


/* 
Headings and pagraphs default settings
*/
h1, h2, h3, h4, h5, h6{
    font-family: var(--h-fonts);
    color:var(--secondary-color);
}
h2, h3, h4, h5, h6{
    font-weight: var(--font-weight-medium)!important;
}
h1{
    font-weight: var(--font-weight-bold)!important;
}
h5{
    margin: 0;
}
p, span{
    font-family: var(--h-font);
}
span{
    font-size: 1.2em;
    font-weight: 700;
}

/*
Introduction section
*/
h1#intro-text{
    font-weight: 300!important;
    font-family: var(--h-font)!important;
    font-size: 2.5em;
}

/*
Nav-bar
*/
nav{
    box-shadow: 0 4px 16px 0 rgba(0,0,0,.05);
    font-family: var(--h-fonts);

}
nav ul li a{
    text-transform: uppercase;
}
.navbar-brand{
    font-family: var(--h-font);
    font-weight: var(--font-weight-medium);
    color:var(--secondary-color)!important;
    font-size:3em;
}
a.nav-link{
    color:var(--secondary-color)!important;
}
a.nav-link:hover{
    color:var(--secondary-color);
    opacity: .5;
}
.nav-item{
    font-family: var(--h-font);
    font-weight: var(--font-weight-bold);
}
/*

*/
.wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/*
Skill Section
*/
.card-body{
    padding: 2rem!important;
}

i{
    height: 48px;
}

/*
Social Media Icons
*/

.social-link{
color:inherit;
}
a.social-link i:hover{
color:var(--secondary-color);
opacity: .5;
}
.text-area{
resize: none;
}
i{
    color:var(--secondary-color);
}

/*
Footer
*/
footer{
    background-color: var(--secondary-color);
    padding: 2em;
}
footer p{
    color:var(--main-bg-color);
    font-family: var(--h-fonts);
    font-size: 1em;
}
#profile-pic{
    width: 300px;
    height: auto;
}
.img-container{
    padding: 0px;
}
/*

*/
@media (max-width: 1200px) {
    h1#intro-text{
        font-size: 2em!important;
    }
}
@media(max-width:1100px){
    h1.introduction-text{
        font-size: 1.5em!important;
    }
}
@media (max-width: 992px) { 
    h5{
        font-size: 1em!important;
    }
 }
